@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?99341k');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?99341k#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?99341k') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?99341k') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?99341k##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-password {
  &:before {
    content: $icon-password; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-eye-slash {
  &:before {
    content: $icon-eye-slash; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}

