$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-email: "\e945";
$icon-password: "\e98f";
$icon-delete: "\e9ad";
$icon-eye: "\e9ce";
$icon-eye-slash: "\e9d1";
$icon-logout: "\ea14";

